<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
      data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="main">
        <f:for each="{fAQs}" as="fAQ">
            <section class="tx-ehfaq-topic">
                <header class="tx-ehfaq-topic-header"><h1>{fAQ.question}</h1></header>
                <div class="tx-ehfaq-topic-body ce-intext">
                    <f:if condition="{faQ.images">
                        <f:for each="{fAQ.images}" as="image">
                            <f:alias map="{description: image.originalResource.description}">
                                <f:if condition="{description}">
                                    <f:then>
                                        <figure>
                                            <f:image image="{image}" 
                                                     maxWidth="{settings.images.maxWidth}" 
                                                     maxHeight="{settings.images.maxHeight}"
                                            ></f:image>
                                            <figcaption>{description}</figcaption>                                  
                                        </figure>
                                    </f:then>
                                    <f:else>
                                        <f:image image="{image}" 
                                                 maxWidth="{settings.images.maxWidth}"
                                                 maxHeight="{settings.images.maxHeight}"
                                        ></f:image>                               
                                    </f:else>
                                </f:if>
                            </f:alias>
                        </f:for>                                          
                    </f:if>
                    <f:format.html>{fAQ.answer}</f:format.html>
                </div>
            </section>
        </f:for>
    </f:section>
</div>